#create-dream {
  display: flex;
  // background-color: rgba(25, 34, 139, 0.2);
  padding: 16px 12px;
  margin: 10px 20px;
  height: 100vh;
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    .dream-data {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
    }
    .text-area {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
  .checkbox-area {
    display: flex;
    flex-direction: row;
    // background: rgb(141 132 225 / 58%);
    padding: 16px 10px;
    gap: 20px;
    border-radius: 3px;
    .emotion {
      display: flex;
      flex-direction: column;
    }
  }
}
.tag-filter {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 900px;
  margin: 10px auto;
}
.emotion-filter {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 900px;
  margin: 10px auto;
}
