.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  width: 70px;
  // background-color: #ddedea;
  background-color: #daeaf6;
  overflow-y: auto;
  z-index: 10;
  transition: width 0.3s ease, transform 0.3s ease;

  &.open {
    width: 250px;
  }

  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid white;
    a {
      display: flex;
      align-items: center;
      color: #0e273c;
      text-decoration: none;
    }

    &:hover {
      border-left: 4px solid #5a9bd4; /* Highlight border */
      background-color: #d4e3f4; /* Optional subtle background */
      cursor: pointer;

      a {
        color: #fff;
      }
    }

    svg {
      margin-right: 10px;
      flex-shrink: 0;
    }

    span {
      white-space: nowrap;
      transition: opacity 0.3s ease;
    }
  }
  .sidebar-list-open {
    padding: 12px;
  }
  .sidebar-list-close {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-footer {
    margin-top: 40vh;

    border-top: 1px solid white;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .menu-item {
      padding: 12px;

      a {
        color: #0e273c;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        border-left: 4px solid #5a9bd4; /* Highlight border */
        background-color: #d4e3f4; /* Optional subtle background */
        cursor: pointer;
      }
    }
  }

  &.closed .menu-item span {
    display: none;
  }
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;

  svg {
    transform: rotate(0);
    transition: transform 0.3s ease;
  }

  &.rotate svg {
    transform: rotate(180deg);
  }
}
/* Mobile adjustments */
@media (max-width: 490px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    transform: translateY(-100%);
  }

  .sidebar.open {
    transform: translateY(0);
  }

  .sidebar.closed {
    transform: translateY(-100%);
  }

  .menu-item {
    justify-content: center;

    span {
      display: none;
    }
  }
}
