//components:
@import './variable';
@import './typography.scss';
@import './input.scss';
@import './button';
@import './card';
@import './navbar';
@import './sidebar';
@import './navbar';
@import './layout';
@import './comment';

@import './checkbox';

//pages:
@import './landing';
@import './chart';
@import './login';
@import './userProfile';
@import './create';
