#landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .landing-header {
    width: 100%;
    background-color: #6b5b95;

    background-image: linear-gradient(
        rgba(107, 91, 149, 0.8),
        rgba(184, 169, 201, 0.3)
      ),
      url('../assets/images/basicloginimage.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    position: relative;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .login-button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .login-button:hover {
    background: white;
    color: #6b5b95;
  }

  .hero {
    margin-top: 2rem;
  }

  .hero h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .cta-button {
    background-color: #fff;
    color: #6b5b95;
    border: 2px solid #6b5b95;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
  }

  .cta-button:hover {
    background-color: #6b5b95;
    color: white;
  }

  .features {
    margin: 2rem 0;
    text-align: center;
  }

  .features h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .feature-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border-radius: 73% 27% 76% 24% / 36% 69% 31% 64%;
    -webkit-box-shadow: 0px 0px 194px 17px rgba(164, 128, 207, 0.87);
    -moz-box-shadow: 0px 0px 194px 17px rgba(164, 128, 207, 0.87);
    box-shadow: 0px 0px 194px 17px rgba(164, 128, 207, 0.87);
  }

  .card h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .card p {
    font-size: 1rem;
    color: #666;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .cta-section {
    margin: 3rem 0;
    text-align: center;
    background-color: #6b5b95;
    color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
  }

  .landing-footer {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #333;
    color: white;
  }
}
